@import "tailwindcss";


/* Tambahkan gaya CSS berikut ke dalam file CSS Anda */
body.no-scroll {
  overflow: hidden; /* Menonaktifkan scroll pada background */
}

.popup-content {
  max-height: 90vh; /* Pastikan popup tidak terlalu tinggi */
  overflow-y: auto; /* Membuat konten popup dapat digulir */
}


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-primary: #FF963B;
    --color-color-txt: #242424;
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

}
